<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Demo box</title>
  
  <style type="text/css">
    #wrap {
      overflow: hidden;
    }
    .box {
      width: 20%;
      padding-bottom: 20%;
      color: #FFF;
      position: relative;
      float: left;
    }
    .innerContent {
      position: absolute;
      left: 1px;
      right: 1px;
      top: 1px;
      bottom: 1px;
      background: #66F;
      padding: 10px;
    }
  </style>
  
</head>
<body>

  <div id="wrap">
    <div class="box">
      <div class="innerContent">
        Absolutely-positioned content isn't counted in the parent's height!
      </div>
    </div>
    <div class="box">
      <div class="innerContent">
        Absolutely-positioned content isn't counted in the parent's height!
      </div>
    </div>
    <div class="box">
      <div class="innerContent">
        Absolutely-positioned content isn't counted in the parent's height!
      </div>
    </div>
    <div class="box">
      <div class="innerContent">
        Absolutely-positioned content isn't counted in the parent's height!
      </div>
    </div>
    <div class="box">
      <div class="innerContent">
        Absolutely-positioned content isn't counted in the parent's height!
      </div>
    </div>
    <div class="box">
      <div class="innerContent">
        Absolutely-positioned content isn't counted in the parent's height!
      </div>
    </div>
    <div class="box">
      <div class="innerContent">
        Absolutely-positioned content isn't counted in the parent's height!
      </div>
    </div>
    <div class="box">
      <div class="innerContent">
        Absolutely-positioned content isn't counted in the parent's height!
      </div>
    </div>
    <div class="box">
      <div class="innerContent">
        Absolutely-positioned content isn't counted in the parent's height!
      </div>
    </div>
    <div class="box">
      <div class="innerContent">
        Absolutely-positioned content isn't counted in the parent's height!
      </div>
    </div>
  </div>
  
</body>
</html>

  
</body>
</html>